[submodule "lms-orchestrator"]
	path = lms-orchestrator
	url = git@github.com:ss-bak/lms-orchestrator.git
[submodule "lms-borrower-microservice"]
	path = lms-borrower-microservice
	url = git@github.com:ss-bak/lms-borrower-microservice.git
[submodule "lms-librarian-microservice"]
	path = lms-librarian-microservice
	url = git@github.com:ss-bak/lms-librarian-microservice.git
[submodule "lms-administrator-microservice"]
	path = lms-administrator-microservice
	url = git@github.com:ss-bak/lms-administrator-microservice.git
[submodule "lms-microservice-discovery"]
	path = lms-microservice-discovery
	url = git@github.com:ss-bak/lms-microservice-discovery.git
